Flask==2.3.3
Flask-CORS==4.0.0
openai==0.28.1
anthropic==0.25.0
google-generativeai==0.7.1

markdown==3.5.1
gunicorn==21.2.0
python-dotenv==1.0.0
requests==2.31.0

Pillow>=11.0.0,<12
python-pptx>=1.0.2
